@import '../../styles/variables';

.button-container {
  padding: 7px 49px;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  font-size: $small-size;
  font-weight: 600;
  transition: 0.3s;

  &:hover {
    opacity: 0.8;
  }
}

.yellow-button {
  background-color: $primary-color;
  color: $terciary-color;
}

.purple-button {
    background-color: $secondary-color;
    color: $white;
    text-transform: uppercase;
}
