@import '../../styles/variables';

.product-card {
  border-radius: 10px;
  box-shadow: 0px 3px 19px 0px rgba(0, 0, 0, 0.22);
  width: 295px;
  text-align: left;
  padding: 15px 32px;
  color: $black;

  #old-price {
    color: $gray-3;
    font-size: $small-size;
    font-weight: 400;
    text-decoration: line-through;
    margin-top: 12px;
    margin: 0;
  }

  #current-price {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
  }

  #parcel {
    margin-bottom: 7px;
  }

  #parcel,
  #shipping {
    font-weight: 400;
    font-size: $xxsmall-size;
  }

  #shipping {
    color: $secondary-color;
    margin-bottom: 12px;
  }

  #product-name {
    color: $black;
    font-size: $small-size;
    font-weight: 300;
    width: 275.852px;
    margin-bottom: 12px;
  }

  button {
    width: 100%;
  }

  img {
    width: 100%;
  }
}
