// FONTS
$primary-font: 'Poppins';
$xxsmall-size: '12px';
$xsmal-size: '14px';
$small-size: '15px';
$xmedium-size: '30px';
$medium-size: '32px';
$big-size: '48px';

// COLORS
$primary-color: #f7ca11;
$secondary-color: #3442b5;
$highlight-color: #3019b2;

// NEUTRAL COLORS
$white: #ffffff;
$black: #3f3f40;
$gray-1: #9f9f9f;
