// FONTS
$primary-font: 'Poppins';
$secondary-font: 'Outfit';
$terciary-font: 'Work Sans';
$xxsmall-size: 12px;
$xsmall-size: 14px;
$small-size: 15px;
$xmedium-size: 30px;
$medium-size: 32px;
$regular-size: 40px;
$big-size: 48px;

// COLORS
$primary-color: #f7ca11;
$secondary-color: #3442b5;
$terciary-color: #271c47;
$highlight-color: #3019b2;

// NEUTRAL COLORS
$white: #ffffff;
$white-2: #f6f5f2;
$black: #3f3f40;
$black-2: #3b3b3b;
$black-3: #4e4e4e;
$gray-1: #9f9f9f;
$gray-2: #bdbdbd;
$gray-3: #808080;
