@import '../../styles/variables';

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);

  .modal-box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    border-radius: 6px;
    background: #fff;
    width: 65%;
    padding: 56px;
    display: flex;
    gap: 87px;
    color: $black;

    .price {
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 100%;
      margin-bottom: 32px;
    }

    .description {
      font-family: $terciary-font;
      font-size: 10px;
      font-weight: 500;
      line-height: 150.5%;
      letter-spacing: 0.5px;
      color: $gray-1;
      width: 75%;
      margin-bottom: 18px;
    }

    .see-more {
      color: $secondary-color;
      font-family: $terciary-font;
      font-size: 11px;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: 0.55px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .actions {
      margin-top: 32px;
      display: flex;
      gap: 12px;
      width: 89%;

      button {
        width: 100%;
      }
    }

    .quantity-input {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      border-radius: 4px;
      border: 1px solid #d9d9d9;
      width: 110px;
      padding: 10px;

      .quantity {
        color: $terciary-color;
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
      }

      svg {
        cursor: pointer;
      }
    }

    h3 {
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 100%;
      margin-bottom: 18px;
    }
  }
}

@media (max-width: 800px) {
  .modal {
    .modal-box {
      width: 90%;
      height: 90%;
      flex-direction: column;
      gap: 0;
    }
  }
}

@media (min-width: 801px) and (max-width: 1000px) {
  .modal {
    .modal-box {
      width: 80%;
      height: 85%;
      flex-direction: column;
      gap: 0;

      .actions {
        margin: 32px auto;
      }
    }
  }
}
