.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-actions {
  display: flex;
  gap: 32px;

  img {
    cursor: pointer;
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 800px) {
  .nav-bar {
    margin: 30px 0;
    flex-wrap: wrap;
  }
}
