.brands {
  text-align: center;

  .brands-container {
    display: flex;
    justify-content: center;
    gap: 42px;
  }
}

@media (max-width: 1000px) {
  .brands {
    .brands-container {
      flex-wrap: wrap;
    }
  }
}
