@import '../../styles/variables';

.related-products {
  text-align: center;

  .products {
    display: flex;
    gap: 18px;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    overflow: hidden;

    .carousel-track {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }

    svg {
      cursor: pointer;
      z-index: 99;
      position: absolute;

      &:first-child {
        left: 0;
      }

      &:last-child {
        right: 0;
      }
    }
  }

  p {
    color: $black;
    font-size: $small-size;
    font-weight: 700;
    margin-bottom: 25px;
  }
}

@media (max-width: 1000px) {
  .products {
    .carousel-track {
      flex-wrap: wrap;
    }

    svg {
      display: none;
    }
  }
}
